@use 'src/styles/mixins';

.dropdown_menu_content {
  @include mixins.flex(column);

  gap: 12px;

  padding: 12px;

  color: var(--color-light-100);

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-100);
  border-radius: 4px;

  .dropdown_menu_block {
    @include mixins.flex(column, flex-start, flex-start);

    gap: 12px;

    .dropdown_menu_user_block {
      @include mixins.flex(row, center, center);

      gap: 10px;
      color: var(--color-light-100);

      .dropdown_menu_user_avatar {
        @include mixins.flex(null, flex-end);
      }

      .dropdown_menu_user_name {
        & * {
          color: var(--color-light-100);
        }
      }

      .dropdown_menu_user_email {
        & * {
          color: var(--color-dark-100);
        }
      }
    }

    .dropdown_menu_separator {
      width: 12.0625rem;
      height: 0.0625rem;
      background-color: var(--color-dark-500);
    }
  }

  .dropdown_menu_arrow_box {
    fill: var(--color-dark-700);
    stroke: var(--color-dark-500);
    stroke-width: 2px;
  }
}

.dropdown_menu_arrow {
  position: absolute;
  top: -4px;
  right: 25px;
  transform: rotate(45deg);

  width: 7px;
  height: 7px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-100);
  border-top: none;
  border-left: none;
}

.dropdown_menu_trigger {
  all: unset;

  //@include mixins.flex(row, center, center);
  cursor: pointer;

  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;

  .username {
    color: var(--color-light-100);
    border-bottom: 1px dashed var(--color-light-100);
  }
}

.dropdown_menu_user_info {
  display: flex;
  flex-direction: column;
}

.dropdown_menu_item_icon {
  @include mixins.flex(row, center, center);

  cursor: pointer;
  gap: 10px;
  color: var(--color-light-100);
}
