@use 'src/styles/mixins';

/* reset */
button {
  all: unset;
}

.trigger {
  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 210px;
  height: 36px;
  padding: 6px 12px;

  color: var(--color-light-100);

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px 2px 0 0;

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:focus {
    box-shadow: 0 0 0 2px black;
  }
}

.placeholder {
  color: var(--color-light-100);
}

.content {
  overflow: hidden;

  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-top: none;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.item {
  user-select: none;
  height: 36px;
  padding: 6px 12px;
  color: var(--color-light-100);
}

.item[data-disabled] {
  pointer-events: none;
  color: var(--mauve-8);
}

.item[data-highlighted] {
  color: var(--color-accent-300);
  background-color: var(--color-accent-900);
  outline: none;
}
