@use 'src/styles/mixins';

.container {
  @include mixins.flex(row, center, center);

  gap: 12px;

  .values {
    @include mixins.flex(row, center, center);

    width: 2.25rem;
    height: 2.25rem;

    color: var(--color-light-100);

    border: 1px solid var(--color-dark-300);
    border-radius: 2px;
  }

  .root {
    touch-action: none;
    user-select: none;

    position: relative;

    display: flex;
    align-items: center;

    width: 9.6875rem;
    height: 16px;

    .track {
      position: relative;

      flex-grow: 1;

      height: 5px;

      background-color: var(--color-accent-900);
      border-radius: 9999px;

      .range {
        position: absolute;
        height: 100%;
        background-color: var(--color-accent-500);
        border-radius: 9999px;
      }
    }

    .thumb {
      display: block;

      width: 1rem;
      height: 1rem;

      background-color: var(--color-accent-500);
      border-radius: 10px;

      &:focus {
        outline: none;
      }

      .thumb_inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 0.5rem;
        height: 0.5rem;

        background-color: var(--color-light-100);
        border-radius: 50%;
      }
    }
  }
}

.label {
  margin-bottom: 7px;
  color: var(--color-light-100);
  white-space: nowrap;
}
