@use 'src/styles/mixins';

.table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1006px;
  border: 1px solid var(--color-dark-500);

  .row {
    border-bottom: 1px solid var(--color-dark-500);

    .table_cell {
      padding: 6px 24px;

      .table_cell_text {
        color: var(--color-light-100);
      }

      .icons {
        @include mixins.flex(row, flex-end, center);

        gap: 4px;
      }
    }
  }
}
