@use 'src/styles/mixins';

.title {
  color: var(--color-light-100);
}

.button_text {
  @include mixins.flex(row, flex-start, center);

  gap: 10px;
  color: var(--color-light-100);
}

.input_file {
  display: none;
}

.image {
  max-height: 200px;
}

.error {
  color: var(--color-danger-300);
}
