.container {
  display: inline-block;
  padding: 6px 24px;
  border-bottom: 1px solid var(--color-dark-500);

  .block {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

    .checkbox {
    }

    .row_text {
      color: var(--color-light-100);
    }
  }
}
