.container {
  display: inline-block;

  .block {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

    .checkbox {
    }

    .row_text {
      color: var(--color-light-100);
    }
  }
}
