.container {
  display: inline-flex;
  gap: 4px;
  align-items: center;

  padding: 6px 24px;

  background-color: var(--color-dark-500);

  .title {
    color: var(--color-light-100);
  }
}

.withIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}
