@use 'src/styles/mixins';

.header {
  @include mixins.flex(row, center, center);

  width: 100%;
  height: 60px;
  background-color: var(--color-dark-700);

  .header_container {
    @include mixins.flex(row, space-between, center);

    width: 80%;
  }
}
