@use 'src/styles/mixins';

.input_container {
  position: relative;
  display: inline-block;

  .input {
    @include mixins.text-styles(
      var(--font-family-primary),
      var(--font-size-m),
      null,
      null,
      var(--line-height-m)
    );

    all: unset;

    box-sizing: border-box;
    max-width: 284px;
    padding-right: 35px;
    padding-left: 12px;

    color: var(--color-dark-100);
    text-overflow: ellipsis;

    border: 1px solid var(--color-dark-300);
    border-radius: 2px;

    &::placeholder {
      color: var(--color-dark-100);
    }

    &:active {
      border: 1px solid var(--color-light-100);

      &::placeholder {
        color: var(--color-light-100);
      }
    }

    &:hover {
      background: var(--color-dark-700);
      border: 1px solid var(--color-dark-100);
    }

    &:focus {
      outline: 2px solid var(--color-info-700);
    }

    &:disabled {
      color: var(--color-dark-300);

      &::placeholder {
        color: var(--color-dark-300);
      }
    }

    &.search {
      padding: 0 32px;
      text-indent: 12px;
    }

    &.error {
      color: var(--color-danger-300);
      border: 1px solid var(--color-danger-300);

      &::placeholder {
        color: var(--color-danger-300);
      }
    }
  }

  .input_icon_start {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    width: 20px;
    height: 20px;
  }

  .input_icon_end {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);

    width: 20px;
    height: 20px;
  }

  .clear_button {
    all: unset;
    cursor: pointer;
    position: absolute;
    left: 12px;
  }
}

.error_message {
  margin-top: 8px;
  margin-left: 1px;
  color: var(--color-danger-300);
}

.input_label {
  margin-left: 1px;
  color: var(--color-dark-100);
}
