.card {
  width: 26.25rem;
  height: max-content;
  margin-top: 36px;
  padding: 33px 36px 60px;

  .title {
    margin-bottom: 51px;
    color: var(--color-light-100);
    text-align: center;
  }

  .text_field {
    margin-bottom: 19px;
  }

  .hint {
    margin-bottom: 41px;
    color: var(--color-light-900);
  }

  .button_text {
    color: var(--color-light-100);
  }
}
